<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"GROUP_MATCHING" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper
    [slidesPerView]="1"
    [pagination]="true"
    [initialSlide]="0"
    [allowTouchMove]="false"
    (swiper)="setSwiperInstance($event)"
  >
    <ng-template swiperSlide>
      <div class="slide-container vertical-center">
        <h2 *ngIf="users?.length > 0" class="slide-title">
          {{"QUESTION_GROUP_SIZE" | translate}}
        </h2>
        <form
          [formGroup]="matchingForm"
          (submit)="nextSlide()"
          *ngIf="users?.length > 0"
        >
          <ion-item class="ion-text-center matching-size-item">
            <ion-input
              class="matching-size-input"
              id="matching-size"
              formControlName="matchingSize"
              type="number"
              [autofocus]="true"
              clearInput
            ></ion-input>
            <ion-label
              for="matching-size"
              aria-label="&nbsp;users per group"
            ></ion-label>
            <ion-label
              *ngIf="!form.matchingSize.valid &&
          form.matchingSize.dirty"
              class="validator-error ion-text-wrap"
            >
              <p>{{ "QUESTION_GROUP_MIN_INSTR" | translate}}</p>
            </ion-label>
          </ion-item>
          <ion-button
            class="ion-margin-top"
            type="submit"
            color="primary"
            fill="clear"
            [disabled]="!matchingForm.valid"
            >{{ "NEXT" | translate}}<ion-icon
              slot="end"
              name="arrow-forward-outline"
            ></ion-icon
          ></ion-button>
        </form>
        <ion-grid *ngIf="this.noUsersToShow" routerLink="/users-list">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-icon
                class="no-people-icon"
                name="cloud-upload-outline"
              ></ion-icon
            ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-label lines="none">
                <p>
                  <ion-text color="primary">
                    {{ "NO_ONE_UPLOAD_TO_START" | translate }}
                  </ion-text>
                </p>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-container">
        <h2 class="slide-title">{{"GROUP_MATCH_INSTR" | translate }} (2)</h2>
        <ion-button
          class="ion-margin-top"
          color="secondary"
          fill="clear"
          (click)="prevSlide()"
        >
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          {{ "PREVIOUS" | translate}}
        </ion-button>
        <ion-button
          class="ion-margin-top"
          color="primary"
          fill="clear"
          [disabled]="groups.length!==2"
          (click)="nextSlide()"
          >{{ "NEXT" | translate}}<ion-icon
            slot="end"
            name="arrow-forward-outline"
          ></ion-icon
        ></ion-button>
        <div class="ion-padding-vertical">
          <ion-button
            color="primary"
            (click)="addGroup()"
            [disabled]="groups.length>=2 || users?.length===0"
          >
            {{"CREATE_GROUP" | translate }}
          </ion-button>
        </div>

        <div [hidden]="true">
          <ionic-selectable
            #addUsersToGroup
            [(ngModel)]="usersSelectedForGroup"
            [items]="users"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true"
            [isMultiple]="true"
            searchFailText="{{ 'NO_PEOPLE_FOUND' | translate }}"
            [canClear]="true"
            (onSearch)="searchByTags($event)"
            searchPlaceholder="{{ 'SEARCH_BY_NAME_OR_TAG' | translate }}"
          >
            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar color="primary">
                <ion-buttons slot="end">
                  <ion-button fill="clear" (click)="addUsersToGroup.close()">
                    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-title>{{ "SELECT_PEOPLE" | translate}}</ion-title>
              </ion-toolbar>
            </ng-template>
            <ng-template ionicSelectableItemTemplate let-user="item">
              <div class="user-tags">
                <ion-label class="no-overflow"> {{user.name}} </ion-label>
                <div>
                  <ion-chip *ngFor="let tag of user.tags" color="primary"
                    >{{tag}}
                  </ion-chip>
                </div>
              </div>
            </ng-template>
            <ng-template ionicSelectableFooterTemplate>
              <ion-footer>
                <ion-grid>
                  <ion-row class="ion-justify-content-between">
                    <ion-col size="6" size-md="5">
                      <ion-button
                        color="primary"
                        fill="outline"
                        (click)="toggleAll()"
                      >
                        {{ (this.addUsersToGroup.itemsToConfirm.length === 0)?
                        ("CHECK_ALL" | translate) : ("UNCHECK_ALL" | translate)
                        }}
                      </ion-button>
                    </ion-col>
                    <ion-col size="6" size-md="5" class="ion-text-end">
                      <ion-button
                        color="primary"
                        (click)="addNewUsersToGroup()"
                        [disabled]="addUsersToGroup.itemsToConfirm.length === 0"
                      >
                        {{ "ADD_TO_GROUP" | translate }}
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-footer>
            </ng-template>
          </ionic-selectable>
        </div>

        <ion-accordion-group [multiple]="true" #groupsAccordion>
          <ion-accordion
            class="ion-margin-bottom"
            [value]="i"
            *ngFor="let group of groups; let i=index"
          >
            <ion-item slot="header" color="light">
              <ion-button
                (click)="removeGroup($event, i)"
                shape="round"
                fill="clear"
                color="danger"
                slot="start"
                ><ion-icon slot="icon-only" name="close-outline"></ion-icon
              ></ion-button>
              <ion-label class="flex-label"
                >{{ "GROUP" | translate}} {{i+1}} &mdash;<ion-badge
                  >{{group.length}}</ion-badge
                ></ion-label
              >

              <ion-button
                fill="clear"
                shape="round"
                size="small"
                color="primary"
                (click)="editGroup($event, i)"
                ><ion-icon slot="icon-only" name="pencil-outline"></ion-icon
              ></ion-button>
            </ion-item>
            <div slot="content" class="ion-padding">
              <ion-item
                *ngFor="let user of group; let j=index"
                class="ion-padding-xs"
              >
                <ion-avatar slot="start">
                  <!-- <div [innerHTML]="user.avatar"></div> -->
                  <img [src]="user.avatar" />
                </ion-avatar>
                <div class="user-tags">
                  <ion-label class="no-overflow"> {{user.name}} </ion-label>
                  <div>
                    <ion-chip
                      *ngFor="let tag of user.tags"
                      [color]="ColorsTags[j%2]"
                      >{{tag}}
                    </ion-chip>
                  </div>
                </div>
                <ion-button
                  (click)="removeUserFromGroup($event, i, j)"
                  shape="round"
                  fill="clear"
                  color="danger"
                  ><ion-icon slot="icon-only" name="close-outline"></ion-icon
                ></ion-button>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-container">
        <h2 class="slide-title">
          {{"QUESTION_RESTRICTED_CONNECTION" | translate }}
        </h2>
        <ion-button
          class="ion-margin-top match-btn"
          color="secondary"
          fill="clear"
          (click)="prevSlide()"
        >
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          {{ "PREVIOUS" | translate}}
        </ion-button>
        <ion-button
          class="ion-margin-top match-btn"
          color="primary"
          (click)="randommatch()"
        >
          {{ "MATCH" | translate}}
          <ion-icon name="checkmark-done-outline" slot="end"></ion-icon>
          <ion-spinner *ngIf="isLoading" name="circles"></ion-spinner>
        </ion-button>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col class="scroll-button-parent">
              <ion-button (click)="forbid()" color="danger" fill="clear">
                {{ "FORBID" | translate}}
                <ion-icon slot="end" name="thumbs-down-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="prefer()" color="success" fill="clear">
                {{ "PREFER" | translate}}
                <ion-icon slot="end" name="thumbs-up-outline"></ion-icon>
              </ion-button>
              <ion-button
                *ngIf="forbiddenConnections.length>0 || preferredConnections.length>0 "
                class="scroll-button"
                (click)="scroll(forbidden)"
                shape="round"
                fill="clear"
                color="primary"
              >
                <ion-icon slot="start" name="arrow-down-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6" class="vhheight">
              <ion-accordion-group [multiple]="true" #restrictedGroupsAccordion>
                <ion-accordion
                  class="ion-margin-bottom"
                  [value]="i"
                  *ngFor="let group of groups; let i=index"
                >
                  <ion-item slot="header" color="light">
                    <ion-label>{{ "GROUP" | translate}} {{i+1}}</ion-label>
                  </ion-item>
                  <div slot="content" class="ion-padding-vertical">
                    <ion-item
                      *ngFor="let user of group; let j=index"
                      class="ion-padding-xs"
                    >
                      <ion-checkbox
                        [(ngModel)]="user.isChecked"
                        (click)="selectToRestrict($event,user)"
                        color="primary"
                        slot="start"
                      ></ion-checkbox>
                      <ion-avatar slot="start">
                        <!-- <div [innerHTML]="user.avatar"></div> -->
                        <img [src]="user.avatar" />
                      </ion-avatar>
                      <div class="user-tags">
                        <ion-label class="no-overflow">
                          {{user.name}}
                        </ion-label>
                        <div>
                          <ion-chip
                            *ngFor="let tag of user.tags"
                            [color]="ColorsTags[j%2]"
                            >{{tag}}
                          </ion-chip>
                        </div>
                      </div>
                    </ion-item>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-col>
            <ion-col size-md="6">
              <ion-grid class="grid-connections">
                <ion-row class="border-bottom halfvh">
                  <ion-col>
                    <h3 #forbidden>{{"FORBIDDEN_CONNECTIONS" | translate}}</h3>
                    <ion-list *ngIf="forbiddenConnections.length">
                      <ion-item
                        *ngFor="let forbiddenConnection of forbiddenConnections; let i=index"
                      >
                        <ion-grid>
                          <ion-row>
                            <ion-col *ngFor="let user of forbiddenConnection">
                              <ion-label> {{user.name}} </ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-button
                          fill="clear"
                          shape="round"
                          color="danger"
                          (click)="removeForbiddenConnection(i)"
                        >
                          <ion-icon
                            slot="icon-only"
                            name="close-outline"
                          ></ion-icon>
                        </ion-button>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row class="halfvh">
                  <ion-col>
                    <h3>{{"PREFERRED_CONNECTIONS" | translate}}</h3>
                    <ion-list *ngIf="preferredConnections.length">
                      <ion-item
                        *ngFor="let preferredConnection of preferredConnections; let i=index"
                      >
                        <ion-grid>
                          <ion-row>
                            <ion-col *ngFor="let user of preferredConnection">
                              <ion-label> {{user.name}} </ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                        <ion-button
                          fill="clear"
                          color="danger"
                          shape="round"
                          (click)="removePreferredConnection(i)"
                        >
                          <ion-icon
                            slot="icon-only"
                            name="close-outline"
                          ></ion-icon>
                        </ion-button>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
  </swiper>
</ion-content>
