<ion-header>
  <ion-toolbar>
    <ion-title>matching Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <form [formGroup]="matchingForm" (submit)="onSubmit()">
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked" color="primary">Matching size</ion-label>
            <ion-input name="username" formControlName="matchingsize" type="text">
            </ion-input>
          </ion-item>

          <!--ion-datetime locale="en-GB-u-hc-h12"></ion-datetime-->

        </ion-list>

        <div class="ion-padding">
          <ion-button type="submit" [disabled]="!matchingForm.valid" expand="block">Match Users Randomly</ion-button>
        </div>
      </form>
    </ion-row>
    <ion-row>


      <ion-col>
        <ion-item>
          <ion-label>Users Group 1</ion-label>
          <ionic-selectable #selectComponentGroup1 [(ngModel)]="users_selected_group1" [items]="users_toselect_group1" itemValueField="id" itemTextField="name" [canSearch]="true" [isMultiple]="true" (onChange)="portChangeGroup1($event)" searchFailText="no user found" [canClear]="true" groupValueField="departement" groupTextField="departement">
          </ionic-selectable>
        </ion-item>
        <ion-list>
          <ion-item-group *ngFor="let usergroup1 of result_selected_group1 ; let i=index">
            <ion-item-divider sticky>
              <ion-label>
                <h3>{{usergroup1.name}}</h3>
                <p>
                  {{usergroup1.departement}}
                </p>
              </ion-label>
              <div class="ion-padding speaker-detail">

                <ion-chip  button (click)="tagclick()">
                  <ion-label>{{usergroup1.Location}}</ion-label>
                </ion-chip>
              </div>
            </ion-item-divider>
          </ion-item-group>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Users Group 2</ion-label>
          <ionic-selectable #selectComponentGroup2 [(ngModel)]="users_selected_group2" [items]="users_toselect_group2" itemValueField="id" itemTextField="name" [canSearch]="true" [isMultiple]="true" (onChange)="portChangeGroup2($event)" searchFailText="no user found" [canClear]="true" groupValueField="departement" groupTextField="departement">
          </ionic-selectable>
        </ion-item>
        <ion-list>
          <ion-item-group *ngFor="let usergroup1 of result_selected_group2 ; let i=index">
            <ion-item-divider sticky>
              <ion-label>
                <h3>{{usergroup1.name}}</h3>
                <p>
                  {{usergroup1.departement}}
                </p>
              </ion-label>
              <div class="ion-padding speaker-detail">

                <ion-chip  button (click)="tagclick()">
                  <ion-label>{{usergroup1.Location}}</ion-label>
                </ion-chip>
              </div>
            </ion-item-divider>
          </ion-item-group>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Select forbidden matches</ion-label>
          <ionic-selectable #selectComponent [(ngModel)]="selected_forbidden_connexion" [items]="userstoforbidden" itemValueField="id" itemTextField="name" [canSearch]="true" [isMultiple]="true" (onChange)="portChange($event)" searchFailText="no user found" [canClear]="true" groupValueField="departement" groupTextField="departement">
          </ionic-selectable>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list *ngIf="usersconnexionforbidden.length">
                <ion-item-group *ngFor="let connexionforbidden of usersconnexionforbidden; let i=index">
                  <ion-item-divider sticky>
                    <ion-label>
                      Forbidden {{i}}
                    </ion-label>
                  </ion-item-divider>

                  <ion-item-sliding>
                    <ion-item button>
                      <ion-grid>
                        <ion-row>
                          <ion-col *ngFor="let user of connexionforbidden; let j=index">

                            <ion-label>
                              <h3>{{user.name}}</h3>
                              <p>
                                {{user.departement}}
                              </p>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                      <ion-badge color="primary">{{connexionforbidden.length}}</ion-badge>
                    </ion-item>
                    <ion-item-options>
                      <ion-item-option color="danger">
                        Remove
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                </ion-item-group>
              </ion-list>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>