<ion-header>
  <ion-toolbar>
    <ion-title>users-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar with cancel button always shown -->
  <ion-searchbar showCancelButton="always"></ion-searchbar>
  <ion-button color="primary">
    <ion-icon name="person-add-outline"></ion-icon>
     Upload users file
  </ion-button>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-group>
            <ion-item-divider sticky>
              <ion-label>
                Groupe A
              </ion-label>
            </ion-item-divider>

            <ion-item-sliding *ngFor="let user of users">
              <ion-item routerLink="/app/tabs/schedule/session/">
                <ion-avatar slot="start">
                  <img [src]="user.avatar" alt="">
                </ion-avatar>
                <ion-label>
                  <h3>{{user.name}}</h3>
                  <p>
                    {{user.groupe}}
                  </p>
                </ion-label>
                <ion-button color="danger">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="favorite">
                  Favorite
                </ion-item-option>
                <ion-item-option color="danger">
                  Remove
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>