<ion-router-outlet id="matching"></ion-router-outlet>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"MATCHING" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="mt-3-desktop">
    <ion-row class="ion-justify-content-evenly">
      <ion-col size="12" size-md="5">
        <ion-card class="card-hover" routerLink="simple">
          <img
            class="simple-img"
            src="../../../assets/img/coworkersinofficeshrink.webp"
            alt="multi ethnic coworker discussing in office"
          />
          <ion-card-header>
            <ion-card-title
              >{{ "SIMPLE_MATCHING" | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ "SIMPLE_MATCHING_CARD_DESC" | translate }}
            <ion-button expand="block" class="mt-3" routerLink="simple"
              >{{ "SAME_GROUP_MATCHING" | translate }}</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="5">
        <ion-card class="card-hover" routerLink="group">
          <img
            src="../../../assets/img/threegirlsonamac-unsplashshrink.webp"
            alt="three girls sitting around a computer"
          />
          <ion-card-header>
            <ion-card-title>{{"GROUP_MATCHING" | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ "GROUP_MATCHING_CARD_DESC" | translate }}
            <ion-button expand="block" class="mt-3" routerLink="group"
              >{{"CROSS_GROUP_MATCHING" | translate}}</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
