<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Matching
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <form [formGroup]="matchingForm" (submit)="onSubmit()">
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked" color="primary">Matching size</ion-label>
            <ion-input name="username" formControlName="matchingsize" type="text">
            </ion-input>
          </ion-item>

          <!--ion-datetime locale="en-GB-u-hc-h12"></ion-datetime-->

        </ion-list>

        <div class="ion-padding">
          <ion-button type="submit" [disabled]="!matchingForm.valid || (usersSelected.length < 2)" expand="block">Match Users Randomly</ion-button>
        </div>
      </form>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>select forbidden matches</ion-label>
          <ionic-selectable #selectComponent [(ngModel)]="selected_forbidden_connexion" [items]="usersSelected" itemValueField="id" itemTextField="name" [canSearch]="true" [isMultiple]="true" (onChange)="userChange($event)" searchFailText="no user found" [canClear]="true" groupValueField="group" groupTextField="departement">
          </ionic-selectable>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list *ngIf="usersconnexionforbidden.length">
                <ion-item-group *ngFor="let connexionforbidden of usersconnexionforbidden; let i=index">
                  <ion-item-divider sticky>
                    <ion-label>
                      Forbidden {{i}}
                    </ion-label>
                  </ion-item-divider>

                  <ion-item-sliding>
                    <ion-item button>
                      <ion-grid>
                        <ion-row>
                          <ion-col *ngFor="let user of connexionforbidden; let j=index">
                            <ion-label>
                              <h3>{{user.name}}</h3>
                              <p>
                                {{user.departement}}
                              </p>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                      <ion-badge color="primary">{{connexionforbidden.length}}</ion-badge>
                    </ion-item>
                    <ion-item-options>
                      <ion-item-option color="danger" (click)="removeConnection(i)">
                        Remove
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                </ion-item-group>
              </ion-list>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>

      <ion-col>
        <!-- Searchbar with cancel button always shown -->
        <!--ion-searchbar showCancelButton="always"></ion-searchbar-->
        <ion-list>
          <ion-item-divider sticky>
            <ion-label>
              Users list
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Select All</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="masterCheck" [indeterminate]="isIndeterminate" (click)="checkMaster($event)"></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-list #scheduleList>
          <ion-item-group>
            <ion-item-sliding *ngFor="let user of usersgroups" #slidingItem>
              <ion-item button>
                <ion-avatar slot="start">
                  <div [innerHTML]="user.avatar"></div>
                </ion-avatar>
                <ion-label>
                  <h3>{{user.name}}</h3>
                  <p>
                    {{user.departement}}
                  </p>
                </ion-label>
                  <ion-chip *ngFor="let group of user.groups; let i=index" [color]="ColorsTags[3%(i+1)]" button (click)="tagclick()">
                    <ion-label>{{group}}</ion-label>
                  </ion-chip>
                <ion-checkbox [(ngModel)]="user.isChecked" (click)="checkEvent($event,user)" color="primary"></ion-checkbox>
              </ion-item>
            </ion-item-sliding>
          </ion-item-group>
        </ion-list>
      </ion-col>

    </ion-row>


  </ion-grid>
</ion-content>