@media screen and (min-width: 74em) {
  .mt-3-desktop {
    margin-top: 3rem;
  }
}

.mt-3 {
  margin-top: 3rem;
}

.card-hover:hover {
  transform: scale(1.1);
}

.card-hover {
  transition: 0.1s;
}
