.img-web {
  display: block;
}
.img-mobile {
  display: none;
}

ion-content {
  line-height: 1.5;
}

.mt-5 {
  margin-top: 3rem;
}

.ml-2 {
  margin-left: 1.25rem;
}

ion-grid {
  margin: 0 auto;
  max-width: 65rem;
}

@media screen and (max-width: 37.5em) {
  .img-web {
    display: none;
  }
  .img-mobile {
    display: block;
    width: 100vh;
    height: 40.6rem;
  }
}
