.title-size {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.6);
}

.gcolor {
    background-color: rgba(153, 102, 255)
}

.scolor {
    background-color: rgba(1, 189, 112)
}

.convcolor {
    background-color: rgba(75, 192, 192)
}

.failedcolor {
    background-color: rgba(255, 99, 132);
}

.text-white {color: white; font-weight: bold;}