<ion-header no-border>
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"MATCHING_STAT" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary" mode="md">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-header>
                  <ion-card-title>{{ numMatchingSection }}</ion-card-title>
                  <ion-card-subtitle
                    >{{"NUM_SESSION_MATCHING" | translate}}</ion-card-subtitle
                  >
                </ion-card-header>
              </ion-col>
              <ion-col>
                <ion-card-header>
                  <ion-card-title>{{ totalNumConnections }}</ion-card-title>
                  <ion-card-subtitle
                    >{{"NUM_CONNECTIONS_GENERATED" |
                    translate}}</ion-card-subtitle
                  >
                </ion-card-header>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="success" mode="md">
          <ion-card-header>
            <ion-card-title>{{ numconves }}</ion-card-title>
            <ion-card-subtitle
              >{{"CONNECTIONS_INVITE_SENT" | translate}}</ion-card-subtitle
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="warning" mode="md">
          <ion-card-header>
            <ion-card-title>{{ numfailed }}</ion-card-title>
            <ion-card-subtitle
              >{{"CONNECTIONS_INVITE_NOT_SENT" | translate}}</ion-card-subtitle
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row> </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
      <ion-label class="title-size"> {{ "STATS_CHART" | translate}} </ion-label>
    </ion-list-header>

    <ion-item class="ion-padding-horizontal" lines="none">
      <ion-label> {{ "CHARTS" | translate }} </ion-label>
      <ion-select
        value="bar"
        okText="{{ 'OK' | translate }}"
        cancelText="{{ 'CANCEL' | translate }}"
        (ionChange)="changeChart($event)"
        color="danger"
      >
        <ion-select-option value="bar"
          >{{ "BAR"| translate }}</ion-select-option
        >
        <ion-select-option value="line"
          >{{ "LINES" | translate }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col class="chart-container">
        <canvas #chartCanvas></canvas>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
