<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>KOKI</ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages">
            <ion-item
              *ngIf="loggedIn"
              [routerLink]="p.url"
              routerLinkActive="selected"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{ p.title | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header>{{ "ACCOUNT" | translate }} </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item
              routerLink="/account"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label> {{ "ACCOUNT" | translate }} </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item
              routerLink="/support"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label> {{ "SUPPORT" | translate }} </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label> {{ "LOGOUT" | translate }} </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label> {{ "DARK_MODE" | translate }} </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="language"></ion-icon>
            <ion-label> {{ "LANG_SWITCH" | translate }} </ion-label>
            <ion-toggle
              (ionChange)="changeLanguage($event)"
              [(ngModel)]="isFrench"
            ></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header> {{ "ACCOUNT" | translate }} </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item
              button
              (click)="login()"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label> {{ "LOGIN" | translate }} </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item
              routerLink="/support"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label> {{ "SUPPORT" | translate }} </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item
              routerLink="/signup"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label> Signup </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label> Dark Mode </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header> {{ "TUTOTRIAL" | translate }} </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>{{ "SHOW_TUTORIAL" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
    <ion-router-outlet id="main-content" *ngIf="!isIframe"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
